@mixin button($color: green) {
    height: 24px;
    min-width: 24px;
    padding: 3px;
    text-align: center;
    position: relative;
    display: inline-block;
    color: rgba(0, 0, 0, .7);

    & i {
        font-size: 18px;
    }

    &:active, &.active {
        color: $color;
    }

    &:hover {
        background: #eee;
        cursor: pointer;
    }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin resize($direction, $size, $color) {
    @if $direction == col {
        top: 0;
        bottom: 0;
        right: 0;
        width: $size;

        &:hover {
            cursor: col-resize;
        }
    } @else if $direction == row {
        left: 0;
        right: 0;
        bottom: 0;
        height: $size;

        &:hover {
            cursor: row-resize;
        }
    }

    position: absolute;
    opacity: 0;
    background-color: $color;

    &:hover {
        opacity: 1!important;
    }
}
